In [2]:
import numpy as np
emp=[('Emp_id','i8'),('Last_Name','U9'),('First_Name','U9'),('Gender','U1'),('Title','U20')]
data=np.array([(1000,'Torabti','Yolanda','F','Programmer'),(1001,'Kleinn','Joel','M','Programmer'),
              (1002,'Ginsburg','Laura','F','President'),(1003,'Cox','Jenifer','F','Programmer'),
              (1005,"Zada","Mauri","M","Product Designer"),(1006,"Keyser","Cara","F","Account Executive"),
              (1010,"Smith","Roxie","M","Programmer"),(1011,"Nelson","Robert","M","Programmer"),
              (1012,"Sachsen","Lars","M","Support Technician"),(1013,'Shannon','Don','M','Product Designer')],dtype=emp)


print(data)

[(1000, 'Torabti', 'Yolanda', 'F', 'Programmer')
 (1001, 'Kleinn', 'Joel', 'M', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jenifer', 'F', 'Programmer')
 (1005, 'Zada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Nelson', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [4]:
gen=data['Gender']
is_gen=gen=='M'
num_male=np.sum(is_gen)
print("Number of male are:",num_male)

Number of male are: 6

In [5]:
b=data['Last_Name']
start_b=np.char.startswith(b,'S')
ans=data[start_b]
print(ans)

[(1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [6]:
c=data[data['Gender']=='F']
srt_c=np.argsort(c['First_Name'])[::-1]
ans=c[srt_c]
print(ans)

[(1000, 'Torabti', 'Yolanda', 'F', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jenifer', 'F', 'Programmer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')]

In [7]:
d=data['Emp_id']
two_D=d.reshape(5,2)
print(two_D)

[[1000 1001]
 [1002 1003]
 [1005 1006]
 [1010 1011]
 [1012 1013]]

In [8]:
mask = [False,False,True, True,True,True,True, True,True,False]
e=data[mask]
col_e=['Emp_id', 'Last_Name', 'Title']
filt=e[col_e]
print(filt)

[(1002, 'Ginsburg', 'President') (1003, 'Cox', 'Programmer')
 (1005, 'Zada', 'Product Designer') (1006, 'Keyser', 'Account Executive')
 (1010, 'Smith', 'Programmer') (1011, 'Nelson', 'Programmer')
 (1012, 'Sachsen', 'Support Technician')]

In [9]:
import pandas as pd

missdata=pd.read_csv('nutrients_csvfile.csv')
print(missdata.head(20))

     User_ID  Gender   Age  Height  Weight                    Food  \
0   14733363    male   NaN     190      94              Cows' milk
1   14861698  female  20.0     166      60               Milk skim
2   11179863    male   NaN     179      79              Buttermilk
3   16180408  female  34.0     179      71   Evaporated, undiluted
4   17771927  female   NaN     154      58          Fortified milk
5   15130815  female  36.0     151      50           Powdered milk
6   19602372  female  33.0     158      56           skim, instant
7   11117088    male   NaN     175      85       skim, non-instant
8   12132339    male  60.0     186      94             Goats' milk
9   17964668  female  26.0     146      51     (1/2 cup ice cream)
10  13723164  female  36.0     177      76                   Cocoa
11  13681290  female  21.0     157      56              skim. milk
12  15566424    male  66.0     171      79            (cornstarch)
13  12891699  female  32.0     157      54                 Custard
14  13823829    male  53.0     182      85               Ice cream
15  17557348  female  39.0     156      62                Ice milk
16  12198133    male  39.0     182      82  Cream or half-and-half
17  15236104    male  46.0     169      67             or whipping
18  11042324  female  27.0     171      65                  Cheese
19  16864285    male  50.0     188      86               uncreamed

       Measure  Grams Calories Protein Fat Sat.Fat Fiber Carbs  \
0        1 qt.    976      660      32  40      36     0    48
1        1 qt.    984      360      36   t       t     0    52
2        1 cup    246      127       9   5       4     0    13
3        1 cup    252      345      16  20      18     0    24
4       6 cups  1,419    1,373      89  42      23   1.4   NaN
5        1 cup    103      515      27  28      24     0    39
6   1 1/3 cups     85      290      30   t       t     0    42
7      2/3 cup     85      290      30   t       t     1    42
8        1 cup    244      165       8  10       8     0    11
9       2 cups    540      690      24  24      22     0    70
10       1 cup    252      235       8  11      10     0    26
11       1 cup    250      128      18   4       3     1    13
12       1 cup    248      275       9  10       9     0    40
13       1 cup    248      285      13  14      11     0    28
14       1 cup    188      300       6  18      16     0    29
15       1 cup    190      275       9  10       9     0    32
16     1/2 cup    120      170       4  15      13     0     5
17     1/2 cup    119      430       2  44      27     1     3
18       1 cup    225      240      30  11      10     0     6
19       1 cup    225      195      38   t       t     0     6

          Category  Rating        Last Updated
0   Dairy products     NaN     January 7, 2018
1   Dairy products     3.9    January 15, 2018
2   Dairy products     NaN      August 1, 2018
3   Dairy products     4.5        June 8, 2018
4   Dairy products     4.3       June 20, 2018
5   Dairy products     4.4      March 26, 2017
6   Dairy products     NaN      April 26, 2018
7   Dairy products     4.1       June 14, 2018
8   Dairy products     4.4  September 20, 2017
9   Dairy products     4.7        July 3, 2018
10  Dairy products     4.4    October 27, 2017
11  Dairy products     4.4       July 31, 2018
12  Dairy products     4.2       April 2, 2018
13  Dairy products     4.6       June 26, 2018
14  Dairy products     4.4      August 3, 2018
15  Dairy products     3.2        June 6, 2018
16  Dairy products     4.7       July 31, 2018
17  Dairy products     4.5    November 7, 2017
18  Dairy products     4.3      August 3, 2018
19  Dairy products     4.6       July 30, 2018