In [22]:
import numpy as np
emp=[('Emp_id','i8'),('Last_Name','U9'),('First_Name','U9'),('Gender','U1'),('Title','U20')]
data=np.array([(1000,'Torabti','Yolanda','F','Programmer'),(1001,'Kleinn','Joel','M','Programmer'),
              (1002,'Ginsburg','Laura','F','President'),(1003,'Cox','Jenifer','F','Programmer'),
              (1005,"Zada","Mauri","M","Product Designer"),(1006,"Keyser","Cara","F","Account Executive"),
              (1010,"Smith","Roxie","M","Programmer"),(1011,"Nelson","Robert","M","Programmer"),
              (1012,"Sachsen","Lars","M","Support Technician"),(1013,'Shannon','Don','M','Product Designer')],dtype=emp)


print(data)

[(1000, 'Torabti', 'Yolanda', 'F', 'Programmer')
 (1001, 'Kleinn', 'Joel', 'M', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jenifer', 'F', 'Programmer')
 (1005, 'Zada', 'Mauri', 'M', 'Product Designer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')
 (1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1011, 'Nelson', 'Robert', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [23]:
gen=data['Gender']
is_gen=gen=='M'
num_male=np.sum(is_gen)
print("Number of male are:",num_male)

Number of male are: 6

In [24]:
b=data['Last_Name']
start_b=np.char.startswith(b,'S')
ans=data[start_b]
print(ans)

[(1010, 'Smith', 'Roxie', 'M', 'Programmer')
 (1012, 'Sachsen', 'Lars', 'M', 'Support Technician')
 (1013, 'Shannon', 'Don', 'M', 'Product Designer')]

In [25]:
c=data[data['Gender']=='F']
srt_c=np.argsort(c['First_Name'])[::-1]
ans=c[srt_c]
print(ans)

[(1000, 'Torabti', 'Yolanda', 'F', 'Programmer')
 (1002, 'Ginsburg', 'Laura', 'F', 'President')
 (1003, 'Cox', 'Jenifer', 'F', 'Programmer')
 (1006, 'Keyser', 'Cara', 'F', 'Account Executive')]

In [26]:
d=data['Emp_id']
two_D=d.reshape(5,2)
print(two_D)

[[1000 1001]
 [1002 1003]
 [1005 1006]
 [1010 1011]
 [1012 1013]]

In [27]:
mask = [False,False,True, True,True,True,True, True,True,False]
e=data[mask]
col_e=['Emp_id', 'Last_Name', 'Title']
filt=e[col_e]
print(filt)

[(1002, 'Ginsburg', 'President') (1003, 'Cox', 'Programmer')
 (1005, 'Zada', 'Product Designer') (1006, 'Keyser', 'Account Executive')
 (1010, 'Smith', 'Programmer') (1011, 'Nelson', 'Programmer')
 (1012, 'Sachsen', 'Support Technician')]

In [28]:
import pandas as pd

missdata=pd.read_csv('nutrients_csvfile.csv')
print(missdata.head(20))

     User_ID  Gender   Age  Height  Weight                    Food  \
0   14733363    male   NaN     190      94              Cows' milk
1   14861698  female  20.0     166      60               Milk skim
2   11179863    male   NaN     179      79              Buttermilk
3   16180408  female  34.0     179      71   Evaporated, undiluted
4   17771927  female   NaN     154      58          Fortified milk
5   15130815  female  36.0     151      50           Powdered milk
6   19602372  female  33.0     158      56           skim, instant
7   11117088    male   NaN     175      85       skim, non-instant
8   12132339    male  60.0     186      94             Goats' milk
9   17964668  female  26.0     146      51     (1/2 cup ice cream)
10  13723164  female  36.0     177      76                   Cocoa
11  13681290  female  21.0     157      56              skim. milk
12  15566424    male  66.0     171      79            (cornstarch)
13  12891699  female  32.0     157      54                 Custard
14  13823829    male  53.0     182      85               Ice cream
15  17557348  female  39.0     156      62                Ice milk
16  12198133    male  39.0     182      82  Cream or half-and-half
17  15236104    male  46.0     169      67             or whipping
18  11042324  female  27.0     171      65                  Cheese
19  16864285    male  50.0     188      86               uncreamed

       Measure  Grams Calories Protein Fat Sat.Fat Fiber Carbs  \
0        1 qt.    976      660      32  40      36     0    48
1        1 qt.    984      360      36   t       t     0    52
2        1 cup    246      127       9   5       4     0    13
3        1 cup    252      345      16  20      18     0    24
4       6 cups  1,419    1,373      89  42      23   1.4   NaN
5        1 cup    103      515      27  28      24     0    39
6   1 1/3 cups     85      290      30   t       t     0    42
7      2/3 cup     85      290      30   t       t     1    42
8        1 cup    244      165       8  10       8     0    11
9       2 cups    540      690      24  24      22     0    70
10       1 cup    252      235       8  11      10     0    26
11       1 cup    250      128      18   4       3     1    13
12       1 cup    248      275       9  10       9     0    40
13       1 cup    248      285      13  14      11     0    28
14       1 cup    188      300       6  18      16     0    29
15       1 cup    190      275       9  10       9     0    32
16     1/2 cup    120      170       4  15      13     0     5
17     1/2 cup    119      430       2  44      27     1     3
18       1 cup    225      240      30  11      10     0     6
19       1 cup    225      195      38   t       t     0     6

          Category  Rating        Last Updated
0   Dairy products     NaN     January 7, 2018
1   Dairy products     3.9    January 15, 2018
2   Dairy products     NaN      August 1, 2018
3   Dairy products     4.5        June 8, 2018
4   Dairy products     4.3       June 20, 2018
5   Dairy products     4.4      March 26, 2017
6   Dairy products     NaN      April 26, 2018
7   Dairy products     4.1       June 14, 2018
8   Dairy products     4.4  September 20, 2017
9   Dairy products     4.7        July 3, 2018
10  Dairy products     4.4    October 27, 2017
11  Dairy products     4.4       July 31, 2018
12  Dairy products     4.2       April 2, 2018
13  Dairy products     4.6       June 26, 2018
14  Dairy products     4.4      August 3, 2018
15  Dairy products     3.2        June 6, 2018
16  Dairy products     4.7       July 31, 2018
17  Dairy products     4.5    November 7, 2017
18  Dairy products     4.3      August 3, 2018
19  Dairy products     4.6       July 30, 2018

In [29]:
print(missdata.isnull())

     User_ID  Gender    Age  Height  Weight   Food  Measure  Grams  Calories  \
0      False   False   True   False   False  False    False  False     False
1      False   False  False   False   False  False    False  False     False
2      False   False   True   False   False  False    False  False     False
3      False   False  False   False   False  False    False  False     False
4      False   False   True   False   False  False    False  False     False
..       ...     ...    ...     ...     ...    ...      ...    ...       ...
330    False   False  False   False   False  False    False  False     False
331    False   False  False   False   False  False    False  False     False
332    False   False  False   False   False  False    False  False     False
333    False   False  False   False   False  False    False  False     False
334    False   False  False   False   False  False    False  False     False

     Protein    Fat  Sat.Fat  Fiber  Carbs  Category  Rating  Last Updated
0      False  False    False  False  False     False    True         False
1      False  False    False  False  False     False   False         False
2      False  False    False  False  False     False    True         False
3      False  False    False  False  False     False   False         False
4      False  False    False  False   True     False   False         False
..       ...    ...      ...    ...    ...       ...     ...           ...
330    False  False    False  False  False     False   False         False
331    False  False    False  False  False     False   False         False
332    False  False    False  False  False     False   False         False
333    False  False    False  False  False     False   False         False
334    False  False    False  False  False     False   False         False

[335 rows x 17 columns]

In [30]:
print(missdata.describe())

            User_ID         Age      Height      Weight      Rating
count  3.350000e+02  331.000000  335.000000  335.000000  321.000000
mean   1.491675e+07   43.163142  174.462687   75.394030    4.300312
std    2.968753e+06   16.424593   14.363469   15.127798    0.341915
min    1.000644e+07   20.000000  136.000000   45.000000    3.100000
25%    1.234573e+07   30.000000  163.000000   62.500000    4.100000
50%    1.492006e+07   40.000000  174.000000   74.000000    4.400000
75%    1.743219e+07   55.000000  185.500000   88.000000    4.500000
max    1.998459e+07   79.000000  208.000000  112.000000    5.000000

In [31]:
print(missdata.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 335 entries, 0 to 334
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   User_ID       335 non-null    int64
 1   Gender        335 non-null    object
 2   Age           331 non-null    float64
 3   Height        335 non-null    int64
 4   Weight        335 non-null    int64
 5   Food          335 non-null    object
 6   Measure       335 non-null    object
 7   Grams         335 non-null    object
 8   Calories      334 non-null    object
 9   Protein       335 non-null    object
 10  Fat           335 non-null    object
 11  Sat.Fat       333 non-null    object
 12  Fiber         335 non-null    object
 13  Carbs         334 non-null    object
 14  Category      335 non-null    object
 15  Rating        321 non-null    float64
 16  Last Updated  335 non-null    object
dtypes: float64(2), int64(3), object(12)
memory usage: 44.6+ KB
None

In [32]:
print(missdata.shape)

(335, 17)

In [21]:
print(missdata.dropna())

      User_ID  Gender   Age  Height  Weight                   Food Measure  \
1    14861698  female  20.0     166      60              Milk skim   1 qt.
3    16180408  female  34.0     179      71  Evaporated, undiluted   1 cup
5    15130815  female  36.0     151      50          Powdered milk   1 cup
8    12132339    male  60.0     186      94            Goats' milk   1 cup
9    17964668  female  26.0     146      51    (1/2 cup ice cream)  2 cups
..        ...     ...   ...     ...     ...                    ...     ...
330  16205668    male  47.0     195      99    Fruit-flavored soda  12 oz.
331  15013894  female  39.0     164      65             Ginger ale  12 oz.
332  12286808  female  25.0     163      60              Root beer  12 oz.
333  10485469    male  22.0     165      67                 Coffee   1 cup
334  13340241    male  67.0     173      78                    Tea   1 cup

    Grams Calories Protein Fat Sat.Fat Fiber Carbs                   Category  \
1     984      360      36   t       t     0    52             Dairy products
3     252      345      16  20      18     0    24             Dairy products
5     103      515      27  28      24     0    39             Dairy products
8     244      165       8  10       8     0    11             Dairy products
9     540      690      24  24      22     0    70             Dairy products
..    ...      ...     ...  ..     ...   ...   ...                        ...
330   346      161       0   0       0     0    42  Drinks,Alcohol, Beverages
331   346      105       0   0       0     0    28  Drinks,Alcohol, Beverages
332   346      140       0   0       0     0    35  Drinks,Alcohol, Beverages
333   230        3       t   0       0     0     1  Drinks,Alcohol, Beverages
334   230        4       0   t       0     0     1  Drinks,Alcohol, Beverages

     Rating        Last Updated
1       3.9    January 15, 2018
3       4.5        June 8, 2018
5       4.4      March 26, 2017
8       4.4  September 20, 2017
9       4.7        July 3, 2018
..      ...                 ...
330     4.4      August 1, 2018
331     4.7       June 16, 2018
332     4.4      August 3, 2018
333     4.4        May 28, 2018
334     4.6      August 2, 2018

[317 rows x 17 columns]

In [34]:
print(missdata.fillna(12))
print(missdata.fillna(method='ffill'))
print(missdata.fillna(method='bfill'))

      User_ID  Gender   Age  Height  Weight                   Food Measure  \
0    14733363    male  12.0     190      94             Cows' milk   1 qt.
1    14861698  female  20.0     166      60              Milk skim   1 qt.
2    11179863    male  12.0     179      79             Buttermilk   1 cup
3    16180408  female  34.0     179      71  Evaporated, undiluted   1 cup
4    17771927  female  12.0     154      58         Fortified milk  6 cups
..        ...     ...   ...     ...     ...                    ...     ...
330  16205668    male  47.0     195      99    Fruit-flavored soda  12 oz.
331  15013894  female  39.0     164      65             Ginger ale  12 oz.
332  12286808  female  25.0     163      60              Root beer  12 oz.
333  10485469    male  22.0     165      67                 Coffee   1 cup
334  13340241    male  67.0     173      78                    Tea   1 cup

     Grams Calories Protein Fat Sat.Fat Fiber Carbs  \
0      976      660      32  40      36     0    48
1      984      360      36   t       t     0    52
2      246      127       9   5       4     0    13
3      252      345      16  20      18     0    24
4    1,419    1,373      89  42      23   1.4    12
..     ...      ...     ...  ..     ...   ...   ...
330    346      161       0   0       0     0    42
331    346      105       0   0       0     0    28
332    346      140       0   0       0     0    35
333    230        3       t   0       0     0     1
334    230        4       0   t       0     0     1

                      Category  Rating      Last Updated
0               Dairy products    12.0   January 7, 2018
1               Dairy products     3.9  January 15, 2018
2               Dairy products    12.0    August 1, 2018
3               Dairy products     4.5      June 8, 2018
4               Dairy products     4.3     June 20, 2018
..                         ...     ...               ...
330  Drinks,Alcohol, Beverages     4.4    August 1, 2018
331  Drinks,Alcohol, Beverages     4.7     June 16, 2018
332  Drinks,Alcohol, Beverages     4.4    August 3, 2018
333  Drinks,Alcohol, Beverages     4.4      May 28, 2018
334  Drinks,Alcohol, Beverages     4.6    August 2, 2018

[335 rows x 17 columns]
      User_ID  Gender   Age  Height  Weight                   Food Measure  \
0    14733363    male   NaN     190      94             Cows' milk   1 qt.
1    14861698  female  20.0     166      60              Milk skim   1 qt.
2    11179863    male  20.0     179      79             Buttermilk   1 cup
3    16180408  female  34.0     179      71  Evaporated, undiluted   1 cup
4    17771927  female  34.0     154      58         Fortified milk  6 cups
..        ...     ...   ...     ...     ...                    ...     ...
330  16205668    male  47.0     195      99    Fruit-flavored soda  12 oz.
331  15013894  female  39.0     164      65             Ginger ale  12 oz.
332  12286808  female  25.0     163      60              Root beer  12 oz.
333  10485469    male  22.0     165      67                 Coffee   1 cup
334  13340241    male  67.0     173      78                    Tea   1 cup

     Grams Calories Protein Fat Sat.Fat Fiber Carbs  \
0      976      660      32  40      36     0    48
1      984      360      36   t       t     0    52
2      246      127       9   5       4     0    13
3      252      345      16  20      18     0    24
4    1,419    1,373      89  42      23   1.4    24
..     ...      ...     ...  ..     ...   ...   ...
330    346      161       0   0       0     0    42
331    346      105       0   0       0     0    28
332    346      140       0   0       0     0    35
333    230        3       t   0       0     0     1
334    230        4       0   t       0     0     1

                      Category  Rating      Last Updated
0               Dairy products     NaN   January 7, 2018
1               Dairy products     3.9  January 15, 2018
2               Dairy products     3.9    August 1, 2018
3               Dairy products     4.5      June 8, 2018
4               Dairy products     4.3     June 20, 2018
..                         ...     ...               ...
330  Drinks,Alcohol, Beverages     4.4    August 1, 2018
331  Drinks,Alcohol, Beverages     4.7     June 16, 2018
332  Drinks,Alcohol, Beverages     4.4    August 3, 2018
333  Drinks,Alcohol, Beverages     4.4      May 28, 2018
334  Drinks,Alcohol, Beverages     4.6    August 2, 2018

[335 rows x 17 columns]
      User_ID  Gender   Age  Height  Weight                   Food Measure  \
0    14733363    male  20.0     190      94             Cows' milk   1 qt.
1    14861698  female  20.0     166      60              Milk skim   1 qt.
2    11179863    male  34.0     179      79             Buttermilk   1 cup
3    16180408  female  34.0     179      71  Evaporated, undiluted   1 cup
4    17771927  female  36.0     154      58         Fortified milk  6 cups
..        ...     ...   ...     ...     ...                    ...     ...
330  16205668    male  47.0     195      99    Fruit-flavored soda  12 oz.
331  15013894  female  39.0     164      65             Ginger ale  12 oz.
332  12286808  female  25.0     163      60              Root beer  12 oz.
333  10485469    male  22.0     165      67                 Coffee   1 cup
334  13340241    male  67.0     173      78                    Tea   1 cup

     Grams Calories Protein Fat Sat.Fat Fiber Carbs  \
0      976      660      32  40      36     0    48
1      984      360      36   t       t     0    52
2      246      127       9   5       4     0    13
3      252      345      16  20      18     0    24
4    1,419    1,373      89  42      23   1.4    39
..     ...      ...     ...  ..     ...   ...   ...
330    346      161       0   0       0     0    42
331    346      105       0   0       0     0    28
332    346      140       0   0       0     0    35
333    230        3       t   0       0     0     1
334    230        4       0   t       0     0     1

                      Category  Rating      Last Updated
0               Dairy products     3.9   January 7, 2018
1               Dairy products     3.9  January 15, 2018
2               Dairy products     4.5    August 1, 2018
3               Dairy products     4.5      June 8, 2018
4               Dairy products     4.3     June 20, 2018
..                         ...     ...               ...
330  Drinks,Alcohol, Beverages     4.4    August 1, 2018
331  Drinks,Alcohol, Beverages     4.7     June 16, 2018
332  Drinks,Alcohol, Beverages     4.4    August 3, 2018
333  Drinks,Alcohol, Beverages     4.4      May 28, 2018
334  Drinks,Alcohol, Beverages     4.6    August 2, 2018

[335 rows x 17 columns]

/tmp/ipykernel_4166/1698960172.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(missdata.fillna(method='ffill'))
/tmp/ipykernel_4166/1698960172.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(missdata.fillna(method='bfill'))

In [36]:
missdata.head(5)

,User_ID,Gender,Age,Height,Weight,Food,Measure,Grams,Calories,Protein,Fat,Sat.Fat,Fiber,Carbs,Category,Rating,Last Updated
0,14733363,male,NaN,190,94,Cows' milk,1 qt.,976,660,32,40,36,0,48,Dairy products,NaN,"January 7, 2018"
1,14861698,female,20.0,166,60,Milk skim,1 qt.,984,360,36,t,t,0,52,Dairy products,3.9,"January 15, 2018"
2,11179863,male,NaN,179,79,Buttermilk,1 cup,246,127,9,5,4,0,13,Dairy products,NaN,"August 1, 2018"
3,16180408,female,34.0,179,71,"Evaporated, undiluted",1 cup,252,345,16,20,18,0,24,Dairy products,4.5,"June 8, 2018"
4,17771927,female,NaN,154,58,Fortified milk,6 cups,"1,419","1,373",89,42,23,1.4,NaN,Dairy products,4.3,"June 20, 2018"

In [44]:
grouped=missdata.groupby('Gender')[['Weight','Protein']].sum()
print(grouped)

        Weight                                            Protein
Gender
female   10597  361689273024818139301427611400tt0tt42321161918...
male     14660  3293089642384671213t114t0032420242212232216138...

In [45]:
random_samples = missdata.sample(n=20, random_state=42)  

random_samples.set_index(['Gender', 'Rating'], inplace=True)

print(random_samples)

                User_ID   Age  Height  Weight                       Food  \
Gender Rating
male   4.8     17231597  29.0     176      75                      Swiss
female 4.2     14345479  55.0     160      62                     Celery
male   4.5     19439155  57.0     178      83                   Flounder
female 4.8     11267944  73.0     158      57                    Frozen
       4.2     11138472  69.0     164      65            Roasted chicken
       4.4     13991141  36.0     163      58  Spaghetti with meat sauce
male   4.4     18976127  41.0     172      71     Fruit cocktail, canned
       4.4     12301038  41.0     178      76    figs Canned with syrup
female 3.5     18319225  26.0     158      60                Apple betty
male   4.4     14290814  66.0     171      72                    Peaches
       4.2     11842710  53.0     192      93                      Clams
female 4.7     17964668  26.0     146      51        (1/2 cup ice cream)
       3.8     19246830  41.0     150      51             Split-pea soup
       4.2     10310404  23.0     169      68              Peanut butter
male   4.3     14181557  49.0     183      89               Blackberries
       4.2     11830053  60.0     193      90                 Persimmons
female 4.6     16913504  27.0     168      64          Fish sticks fried
       4.5     13586767  37.0     166      61                    Peanuts
       4.3     16137644  49.0     168      68                    Haddock
       3.5     19845852  77.0     160      66                        Gin

                 Measure Grams Calories Protein Fat Sat.Fat Fiber Carbs  \
Gender Rating
male   4.8         1 oz.    28      105       7   8       7     0     t
female 4.2         1 cup   100       20       1   t       0     1     4
male   4.5     3 1/2 oz.   100      200      30   8       0     0     0
female 4.8     6-oz. can   210      330       2   t       t   0.4    78
       4.2     3 1/2 oz.   100      290      25  20      16     0     0
       4.4         1 cup   250      285      13  10       6   0.5    35
male   4.4         1 cup   256      195       1   t       0   0.5    50
       4.4             3   115      130       1   t       0     1    32
female 3.5     1 serving   100      150       1   4       0   0.5    29
male   4.4         1 cup   257      200       1   t       0     1    52
       4.2         3 oz.    85       87      12   1       0     0     2
female 4.7        2 cups   540      690      24  24      22     0    70
       3.8         1 cup   250      147       8   3       3   0.5    25
       4.2       1/3 cup    50      300      12  25      17   0.9     9
male   4.3         1 cup   144       85       2   1       0   6.6    19
       4.2        1 med.   125       75       1   t       0     2    20
female 4.6             5   112      200      19  10       5     0     8
       4.5       1/3 cup    50      290      13  25      16   1.2     9
       4.3         3 oz.    85      135      16   5       4     0     6
       3.5         1 oz.    28       70       0   0       0     0     t

                                       Category        Last Updated
Gender Rating
male   4.8                       Dairy products      April 25, 2018
female 4.2                       Vegetables A-E  September 12, 2017
male   4.5                        Fish, Seafood        June 8, 2018
female 4.8                           Fruits G-P       July 19, 2018
       4.2                        Meat, Poultry       July 26, 2018
       4.4     Breads, cereals, fastfood,grains       July 20, 2018
male   4.4                           Fruits A-F       July 19, 2018
       4.4                           Fruits A-F       July 28, 2018
female 3.5                     Desserts, sweets       July 30, 2018
male   4.4                           Fruits G-P       June 26, 2018
       4.2                        Fish, Seafood       July 11, 2018
female 4.7                       Dairy products        July 3, 2018
       3.8                                Soups       July 12, 2018
       4.2                       Seeds and Nuts       July 19, 2018
male   4.3                           Fruits A-F       July 31, 2018
       4.2                           Fruits G-P        July 9, 2018
female 4.6                        Fish, Seafood       June 14, 2018
       4.5                       Seeds and Nuts       July 31, 2018
       4.3                        Fish, Seafood        July 4, 2018
       3.5            Drinks,Alcohol, Beverages       July 13, 2018